.header{
  padding: 20px 0 0;
  position: absolute;
  width: 100%;
  height: 135px;
  top: 0;
  left: 0;
  z-index: 50;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu{
  &__list{
    display: flex;
    align-items: center;
  }
  &__item:not(:last-child){
    margin-right: 40px;
  }
  &__link{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.33px;
    color: #373636;
    transition: all 0.3s ease;
    &:hover{
      opacity: 0.8;
    }
  }
}