.about{
  background-image: url(../images/background/top.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  padding: 1366px 0 75px;
  &__box{
    position: absolute;
  }
  &__box--1{
    width: 400px;
    height: 400px;
    top: 407px;
    left: 14%;
    background-color: #1b1b1b;
    z-index: 15;
  }
  &__box--2{
    width: 73px;
    height: 73px;
    top: 305px;
    left: 34%;
    background-color: $mainColor;
  }
  &__box--3{
    width: 760px;
    height: 760px;
    top: 241px;
    right: 11%;
    .rotated-box__inner{
      background-image: url(../images/top/big.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: rotate(45deg) scale(1.42);
    }
  }
  &__box--4{
    width: 325px;
    height: 325px;
    top: 809px;
    left: 27.5%;
    background-color: $mainColor;
    z-index: 10;
  }
  &__box--5{
    width: 415px;
    height: 415px;
    top: 797px;
    right: 23.5%;
    z-index: 5;
    .rotated-box__inner{
      background-image: url(../images/top/small.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: rotate(45deg) scale(1.42);
    }
  }
  &__content-wrap{
    max-width: 256px;
    margin: 0 auto;
    padding-left: 14px;
  }
  &__main-title{
    padding-top: 83px;
    font-size: 33.5px;
    text-transform: uppercase;
    font-weight: 900;
    color: $mainColor;
    max-width: 240px;
    margin-bottom: 20px;
    line-height: 1;
  }
  &__main-descr{
    max-width: 240px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.53;
    color: #ffffff;
    text-align: justify;
    margin-bottom: 25px;
  }
  &__number{
    padding-top: 12px;
    padding-right: 30px;
    text-align: center;
    font-size: 82.5px;
    font-weight: 900;
    letter-spacing: 2.06px;
    line-height: 1;
    color: #fefefe;   
  }
  &__second-title{
    margin-top: 13px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }
  &__second-decsr{
    margin-top: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
  }
  &__title{
    margin-bottom: 20px;
  }
  &__subtitle{
    margin-bottom: 50px;
  }
  &__item-box{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  &__item{
    flex: 0 1 322px;
    padding: 40px 30px;
    background-color: rgba(#232323, 0.7);
    color: #ffffff;
  }
  &__decor-rombus{
    margin: auto 65px;
  }
  &__item-title{
    font-size: 26.5px;
    font-weight: 700;
  }
  &__item-descr{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
  }
  &__button{
    display: block;
    margin: 0 auto;
    max-width: 135px;
  }
}
