.advantages{
  background-image: url(../images/background/2.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px;
  position: relative;
  margin-top: -150px;
  z-index: 1;
}