body{
  font-family:'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.wrapper{
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

.container{
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title{
  font-size: 37px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.93px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.section-subtitle{
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.6px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
